.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 190%;
  max-height: 100%;
}

.content-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  margin: 20px 0 30px;
  overflow: auto;
}

.content-container::-webkit-scrollbar {
  display: none;
}

.content-nav-container {
  display: none;
}

@media (max-width: 550px) {
  .main-container {
    margin: 0 1vw;
  }

  .content-container {
    margin: 10px 0 0;
  }

  .content-nav-container {
    display: flex;
  }
}
