.main-container {
  display: flex;
  flex-direction: column;
  max-height: calc(100%);
  align-items: center;
  line-height: 190%;
  justify-content: center;
}

.content-container {
  display: flex;
  flex-direction: row;
  height: calc(100%);
  margin-top: 20px;
  margin-bottom: 30px;
  overflow: scroll;
  overflow-x: hidden;
}

.content-container::-webkit-scrollbar {
  display: none;
}

.content-nav-container {
  display: none;
}
@media (max-width: 550px) {
  .content-container {
    margin-bottom: 0;
    margin-top: 10px;
  }

  .main-container {
    margin-left: 1vw;
    margin-right: 1vw;
  }

  .content-nav-container {
    display: flex;
  }
}
