.title-container {
  font-size: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  margin-left: 100px;
  justify-content: start;
  flex-direction: column;
  overflow: hidden;
  width: 60px;
}

@media (max-width: 1100px) {
  .title-container {
    display: none;
  }
}
