.content-text {
  width: 85vw;
  max-width: 530px;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 210%;
  word-break: keep-all;
}

.footer-mobile-container {
  display: none;
}

@media (max-width: 550px) {
  .content-text {
    width: 100%;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 210%;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .footer-line-mobile {
    width: 95%;
    height: 1px;
  }

  .create-date-mobile {
    font-size: 1.1rem;
  }

  .footer-mobile-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 15px;
    box-sizing: border-box;
  }
}
