/* @media (max-width: 550px) {
  .content-text {
    font-size: 19px;
    line-height: 190%;
  }
} */

.mobile-line {
  width: 90vw;
  height: 1px;
  margin-top: 10px;
  background-color: black;
  opacity: 1;
}
/* 
.mobile-line {
  width: 90vw;
  height: 1px;
  margin-top: 10px;
  background-color: black;
  opacity: 1;
} */
