.list-container {
  font-size: 16px;
  width: 700px;
  font-weight: 400;

  @media (max-width: 950px) {
    width: 85vw;
    max-width: 560px;
  }

  @media (max-width: 550px) {
    width: 90vw;
  }
}

.list-text-container {
  display: inline-block;
}

.list-text {
  display: inline-block;
  padding: 4px 24px;
  margin: 1px;
  border-radius: 20px;
}

a {
  text-decoration-line: none;
  color: inherit;
}

.list-button {
  display: none;

  @media (max-width: 550px) {
    display: flex;
    justify-content: center;
    width: 1px;
    padding: 6px 24px;
    margin: 2px;
    border-radius: 19px;
  }
}

.total-post {
  display: none;

  @media (max-width: 550px) {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
}

.post-count {
  margin-left: 3px;
  text-decoration: wavy underline;
}
