.list-container {
  width: 700px;
  font-weight: 400;
  font-size: 1.1rem;
}

.list-text-container {
  display: inline-block;
}

.list-text-wrapper {
  display: inline-block;
  margin: 3px 1px;
  padding: 1.5px 8px;
  border-radius: 100px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.list-text-wrapper:hover {
  border-radius: 0;
  font-weight: 600;
}

.list-sup {
  line-height: 0;
  margin-left: 3px;
}

a {
  color: inherit;
  text-decoration-line: none;
}

.list-button {
  display: none;
}

.total-post {
  display: none;
}

@media (max-width: 950px) {
  .list-container {
    width: 85vw;
    max-width: 560px;
  }
}

@media (max-width: 550px) {
  .list-container {
    width: 90vw;
  }

  .list-text-container {
    display: flex;
    flex-direction: column;
  }

  .list-text-wrapper {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    border-radius: 100px;
  }

  .list-sup {
    margin-top: 12px;
  }

  .list-button {
    display: flex;
    justify-content: center;
    width: 1px;
    margin: 2px 2px 2px 2px;
    padding: 6px 24px 6px 24px;
    border-radius: 19px;
  }

  .total-post {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
  }

  .post-count {
    margin-left: 3px;
    text-decoration: wavy underline;
  }
}
