.list-container {
  width: 700px;
  font-weight: 400;
  font-size: 18px;
}

.list-text-container {
  display: inline-block;
}

.list-text {
  display: inline-block;
  margin: 3px 1px;
  padding: 1px 8px;
  border-radius: 100px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.list-sup {
  line-height: 0;
  margin-left: 3px;
}

a {
  color: inherit;
  text-decoration-line: none;
}

.list-button {
  display: none;
}

.total-post {
  display: none;
}

@media (max-width: 950px) {
  .list-container {
    width: 85vw;
    max-width: 560px;
  }
}

@media (max-width: 550px) {
  .list-container {
    width: 90vw;
  }

  .list-text-container {
    display: flex;
    flex-direction: column;
    font-size: 20px;
  }

  .list-text {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 2px 2px 2px 2px;
    text-align: center;
    border-radius: 13px;
  }

  .list-button {
    display: flex;
    justify-content: center;
    width: 1px;
    margin: 2px 2px 2px 2px;
    padding: 6px 24px 6px 24px;
    border-radius: 19px;
  }

  .total-post {
    display: flex;
    justify-content: center;
  }

  .post-count {
    margin-left: 3px;
    text-decoration: wavy underline;
  }
}
