.content-text {
  width: 85vw;
  max-width: 550px;
  font-weight: 360;
  font-size: 21px;
  line-height: 200%;
  word-break: keep-all;
}

.content-text p:first-child {
  text-indent: 0%;
}

.content-text p {
  margin: 0;
  text-indent: 10%;
}

@media (max-width: 550px) {
  .content-text {
    width: 85vw;
    font-weight: 400;
    font-size: 16px;
    line-height: 210%;
  }
}
