.container {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  font-weight: 400;
  font-size: 1.15rem;
  line-height: 170%;
  text-align: center;
}

.blockTitle {
  text-decoration: underline;
  margin-top: 1.5rem;
}

.email {
  cursor: pointer;
  margin-top: 3px;
}

.copied {
  font-size: 14px;
  color: #fff;
  position: absolute;
  right: 0;
  top: 0;
  white-space: nowrap;
  background-color: #000;
  border-radius: 5px;
  padding: 0 4px;
  animation: fadeInOut 1.55s linear;
}

.copied:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-right-color: #000;
  border-left: 0;
  margin-top: -5px;
  margin-left: -5px;
}

.highlight {
  color: var(--inverted-color);
  background-color: var(--text-color);
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 550px) {
  .container {
    font-size: 1.1rem;
  }
}
