.container {
  width: 700px;
  font-weight: 400;
  font-size: 1.1rem;
}

.listTextContainer {
  display: inline-block;
}

.textWrapper {
  display: inline-block;
  margin: 3px 1px;
  padding: 1.5px 8px;
  border-radius: 100px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid var(--text-color);
}

.title {
  display: inline-block;
}

.textWrapper:hover {
  border-radius: 0;
  font-weight: 600;
  color: var(--inverted-color);
  background-color: var(--text-color);
}

.titleSup {
  line-height: 0;
  margin-left: 3px;
  font-size: 0.8rem;
}

a {
  color: inherit;
  text-decoration-line: none;
}

.list-button {
  display: none;
}

.totalPost {
  display: none;
}

@media (max-width: 950px) {
  .container {
    width: 85vw;
    max-width: 560px;
  }
}

@media (max-width: 550px) {
  .container {
    width: 90vw;
  }

  .listTextContainer {
    display: flex;
    flex-direction: column;
  }

  .textWrapper {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    border-radius: 100px;
  }

  .titleSup {
    margin-top: 12px;
  }

  .list-button {
    display: flex;
    justify-content: center;
    width: 1px;
    margin: 2px 2px 2px 2px;
    padding: 6px 24px 6px 24px;
    border-radius: 19px;
    border: 1px solid var(--text-color);
  }

  .totalPost {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
  }

  .postCount {
    margin-left: 3px;
    text-decoration: wavy underline;
  }
}
