.title {
  display: flex;
  flex-direction: column;
  width: 60px;
  margin-left: 100px;
  overflow: hidden;
  font-size: 1.25rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (max-width: 1100px) {
  .title {
    display: none;
  }
}
