.homepage-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: calc(100% - 120px);
  margin-left: 5vh;
}

.body-container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  height: calc(100% - 100px);
  padding-top: 5vh;
}

@media (max-width: 1100px) {
  .homepage-container {
    margin-left: 0;
  }
}

@media (max-width: 950px) {
  .body-container {
    height: calc(100% - 10px);
  }
}

@media (max-width: 550px) {
  .homepage-container {
    padding-top: 50px;
  }

  .body-container {
    height: auto;
    padding-top: 0;
  }
}
