@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable.css");

.layout-container {
  display: flex;
  height: 100vh;
  align-items: center;
  /* align-content: center; */
  /* justify-content: center; */
  flex-direction: column;
  font-size: 19px;
}

p::selection {
  color: white;
  background-color: black;
  /* text-shadow: 0 0 10px white; */
}

.mode-button {
  font-size: 20px;
  /* font-weight: 450; */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (max-width: 550px) {
  .layout-container {
    font-size: 18px;
    font-weight: 400;
    /* opacity: 0.86; */
  }

  .mode-button {
    font-size: 16px;
  }

  a span {
    display: none;
  }
  a:hover span {
    display: inline-block;
  }
}
