.nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* padding-top: 20px; */
  /* padding-bottom: 70px; */
  margin-left: 5vh;
  /* background-color: #b3dfff; */
  width: 1010px;
  height: 120px;
}

.middle {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  /* background-color: rgb(215, 255, 199); */
}

.blank {
  width: 100px;
  /* background-color: rgb(221, 255, 0); */
}

.page-number {
  display: flex;
  justify-content: center;
  width: 60px;
  /* font-size: 16px; */
  /* background-color: #ffd29e; */
}

.info-container {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: center;
}

@media (max-width: 1100px) {
  .nav-container {
    width: 890px;
    margin-left: 0;
  }

  .blank {
    display: none;
  }

  .page-number {
    display: none;
  }
}

@media (max-width: 950px) {
  .nav-container {
    width: 86vw;
    /* max-width: 560px; */
  }
}

@media (max-width: 550px) {
  .nav-container {
    display: none;
  }
}

/* 
@media (max-width: 950px) {
  .nav-container {
    width: 760px;
  }
}

@media (max-width: 830px) {
  .nav-container {
    width: 650px;
  }
}

@media (max-width: 700px) {
  .nav-container {
    width: 550px;
  }
}

@media (max-width: 600px) {
  .nav-container {
    width: 500px;
  }
}

@media (max-width: 550px) {
  .nav-container {
    width: 470px;
  }
} */
