.top-container {
  display: flex;
  flex-direction: column;
  display: none;
}

@media (max-width: 550px) {
  .top-container {
    /* position: fixed; */
    font-weight: 360;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 45px;
  }

  .top-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
  }

  .top-title {
    justify-content: center;
  }

  .top-hamburger-container {
    margin-left: 20px;
    justify-content: start;
    height: 22.73px;
    cursor: pointer;
  }

  .top-hamburger {
    display: flex;
    justify-content: center;
    width: 22px;
    height: 2px;
  }

  .top-dark {
    margin-right: 20px;
    width: 22px;
  }
}
