/* * {
  padding: 0;
  margin: 0;
} */

.top-container {
  display: flex;
  flex-direction: column;
  display: none;
}

.visible {
  display: none;
}

.hidden {
  display: none;
}

.top-dark {
  display: none;
}

.top-title {
  display: none;
}

header {
  display: flex;
}

@media (max-width: 550px) {
  header {
    position: fixed;
    font-weight: 400;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 40px;
    z-index: 5;
    transition: top 0.2s ease-in-out;
  }

  .visible {
    display: flex;
    top: 0;
  }

  .hidden {
    display: flex;
    top: -40px;
  }

  .top-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .top-title {
    display: flex;
    justify-content: center;
    font-size: 16px;
    /* font-weight: 450; */
    /* border: 1px solid black;
    padding: 5px 5px 5px 5px;
    border-radius: 500px; */
  }

  .top-hamburger-container {
    margin-left: 20px;
    justify-content: start;
    height: 22.73px;
    cursor: pointer;
  }

  .top-hamburger {
    display: flex;
    justify-content: center;
    width: 21px;
    height: 1.5px;
    margin-top: 3px;
  }

  .top-dark {
    display: flex;
    margin-right: 20px;
    width: 22px;
  }
}
