.page-container {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 1.25rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.brackets {
  padding: 0 1px;
}
