.dark-mode {
  display: flex;
  justify-content: center;
  width: 22px;
  text-align: center;
  cursor: pointer;
  /* background-color: aquamarine; */
}

@media (max-width: 550px) {
  .dark-mode {
    display: none;
  }
}
