.date-created {
  margin-right: 10px;
  display: flex;
  justify-content: center;
  width: 300px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button-container {
  width: 22.73px;
  cursor: pointer;
}

@media (max-width: 550px) {
  .date-created {
    font-size: 18px;
  }

  /* .arrow-left,
  .arrow-right {
    font-size: 19px;
  } */
}
@media (max-width: 470px) {
  .date-created {
    font-size: 18px;
    width: auto;
  }
}
