.prev-button {
  justify-content: center;
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  transform: rotate(225deg);
}

@media (max-width: 550px) {
  .prev-button {
    margin-left: 10px;
  }
}
