.dash-container {
  display: flex;
  justify-content: space-between;
  width: 850px;
  height: 5px;
  font-weight: 300;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* background-color: #fed2ff; */
}

.line {
  width: 22px;
  height: 1.5px;
  background: black;
}

@media (max-width: 1100px) {
  .dash-container {
    width: 890px;
  }
}

@media (max-width: 950px) {
  .dash-container {
    display: none;
  }
}

/* 
@media (max-width: 950px) {
  .dash-container {
    width: 760px;
  }
}

@media (max-width: 830px) {
  .dash-container {
    width: 650px;
  }
}

@media (max-width: 700px) {
  .dash-container {
    width: 550px;
  }
}

@media (max-width: 600px) {
  .dash-container {
    width: 500px;
  }
}

@media (max-width: 550px) {
  .dash-container {
    display: none;
  }
} */
