.highlightedText {
  font-weight: 500;
  color: rgb(244, 244, 244);
  background-color: #000;
}

.intro-container {
  display: flex;
  justify-content: center;
  width: 680px;
  font-weight: 400;
  font-size: 18px;
  line-height: 200%;
  word-break: keep-all;
}

.intro-body {
  width: 360px;
}

.first-intro {
  margin-left: 2px;
}

@media (max-width: 550px) {
  .intro-container {
    width: 300px;
    margin-left: 5px;
  }
}
