.intro-container {
  display: flex;
  width: 680px;
  font-size: 18px;
  font-weight: 400;
  line-height: 200%;
  word-break: keep-all;
  justify-content: center;
}

.test {
  width: 360px;
}

.first-intro {
  margin-left: 2px;
}

@media (max-width: 550px) {
  .intro-container {
    font-size: 16px;
    margin-left: 5px;
    width: 300px;
  }
}
