.content-text {
  width: 85vw;
  max-width: 550px;
  font-weight: 400;
  font-size: 20px;
  line-height: 200%;
  word-break: keep-all;
}

.content-text p:first-child {
  text-indent: 0%;
}

.content-text p {
  margin: 0;
  text-indent: 10%;
}

@media (max-width: 950px) {
  .content-text {
    font-size: 20px;
  }
}
