.list-container {
  width: 700px;
  font-weight: 400;
  font-size: 16px;
}

.list-text-container {
  display: inline-block;
}

.list-text {
  display: inline-block;
  margin: 3px 2px 3px 2px;
  padding: 4px 24px 4px 24px;
  border-radius: 17px;
}

.list-button {
  display: none;
}

@media (max-width: 950px) {
  .list-container {
    width: 85vw;
    max-width: 560px;
  }
}

@media (max-width: 550px) {
  .list-container {
    width: 390px;
  }

  .list-text-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-width: 380px;
    font-size: 15px;
  }

  .list-text {
    flex-grow: 1;
    text-align: center;
  }

  .list-button {
    display: flex;
    justify-content: center;
    width: 1px;
    padding: 6px 24px 6px 24px;
  }
}
