.warp-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 520px;
  height: 100%;
  font-weight: 400;
  font-size: 1.15rem;
  text-align: center;
  word-break: keep-all;
}

@media (max-width: 550px) {
  .warp-container {
    width: 350px;
    margin-bottom: 20px;
    font-size: 1.1rem;
  }
}
