.warp-container {
  width: 520px;
  margin-top: calc(50%);
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  word-break: keep-all;
}

@media (max-width: 550px) {
  .warp-container {
    width: 350px;
    margin-top: calc(70%);
    margin-left: 5px;
    font-size: 16px;
  }
}
