@media (max-width: 550px) {
  .footer-mobile-container {
    display: flex;
    flex-direction: column;
  }

  .footer-mobile-line-container {
    padding: 20px 0 0 0;
  }

  .footer-mobile-line {
    width: 100%;
    height: 1px;
    background-color: #000;
  }

  .footer-content-container {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    margin: 0 -7px;
  }
}
